.container {
  font-family: 'Segoe UI';
  height: 100vh;
  background: #eee;
  overflow: hidden;
  text-align: center;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top: 1rem;
  font-size: 3rem;
  width: 14rem;
  outline: none;
  border-radius: 0.5rem;
  border-width: 1px;
  text-align: center;
}

.mults {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 16rem;
  justify-content: center;
}

.mult {
  background: #333;
  color: #fff;
  min-width: 3rem;
  width: fit-content;
  border-radius: 0.5rem;
  margin: 0.1rem 0.1rem;
  font-size: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mult::before {
  content: "";
  padding: 0.5rem;
}

.mult::after {
  content: "";
  padding: 0.5rem;
}
